{% extends 'base.html' %}

{% block content %}

	<form action="{% url 'pedido_cadastrados' %}" method="POST" class="container mt-4">
		{% csrf_token %}
		<fieldset class="mb-3">
			<div class="mb-3">
				<label for="iped" class="form-label">Pedido</label>
				<input class="form-control" type="text" name="pedido" id="iped" required placeholder="Número do Pedido">
			</div>
			<div class="mb-3">
				<label for="ivend" class="form-label">Vendedor</label>
				<input class="form-control" type="text" name="vendedor" id="ivend" required placeholder="Nome do Vendedor">
			</div>
		</fieldset>
	
		<fieldset class="mb-3">
			<legend>Digite apenas o Tipo de Serviço</legend>
			<div class="mb-3">
				<label for="iinte" class="form-label">Metragem Inteira</label>
				<input class="form-control" type="number" step="0.01" placeholder="Digite a metragem Inteiro" name="metragem_inteiro" id="iinte" value="0" onchange="taggleButton()">
			</div>
			<div class="mb-3">
				<label for="isoma" class="form-label">Metragem Somada</label>
				<input class="form-control" type="number" step="0.01" placeholder="Digite a metragem Somada" name="metragem_fracionaro" id="isoma" value="0" onchange="taggleButton()">
			</div>
			<div class="mb-3">
				<label for="iwave" class="form-label">Metragem da Wave</label>
				<input class="form-control" type="number" step="0.01" placeholder="Digite a metragem da Wave R$" name="metragem_wave" id="iwave" value="0" onchange="taggleButton()">
			</div>
			<div class="mb-3">
				<label for="itaxa" class="form-label">Ou é Taxa</label>
				<input class="form-control" type="number" step="0.01" placeholder="Ou valor da Taxa R$" name="taxa" id="itaxa" value="0" onchange="taggleButton()">
			</div>
		</fieldset>
	
		<button type="submit" class="btn btn-primary">Salvar</button>
		<button type="reset" class="btn btn-secondary">Limpar</button>
	</form>

{% endblock %}